* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #000000;
}

.header {
  font-family: 'Oswald' !important;
  font-size: '2em' !important                                                                                                                                                                                                                                                           ;
}

.paragraph-text {
  font-size: 1.25em;
}

@media screen and (max-width: 1408px) {

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
  .footer-wrapper {
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }
}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 576px) {

}
