* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-weight: 700;
}

@media screen and (max-width: 1408px) {

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 576px) {

}
